name: C++ Build

on:
  push:
    branches: [ master ]
    paths-ignore:
      - .github/workflows/*
      - README.md
      - LICENSE
      - .gitignore
      - Dockerfile
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    container:
            image: ghcr.io/jfouret/cppbio:master

    steps:
    - uses: actions/checkout@v2
    - name: make lib
      run: make lib
    - name: make doc
      run: make doc
    - name: make test
      run: make test
    - name: make coverage
      run: make coverage
    - name: upload codecov report
      env:
        CODACY_PROJECT_TOKEN: 8a244c65f9eb43269bb02c8865aa3177
      run: bash codacy_get.sh report -r build/coverage.info

