name: C++ Build

on:
  push:
    branches: [ master ]
    paths-ignore:
      - .github/workflows/*
      - README.md
      - LICENCE/*
      - .gitignore
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    container:
      image: jfouret/cppbuild

    steps:
    - uses: actions/checkout@v2
    - name: make lib
      run: make lib
    - name: make doc
      run: make doc
    - name: make test
      run: make test


